argh==0.26.2
cachier==1.2.2
certifi==2018.1.18
chardet==3.0.4
click==6.7
decorator==4.2.1
gocamgen==0.0.1
idna==2.6
isodate==0.6.0
jsobject==0.10.2
marshmallow==2.15.0
networkx==1.11
numpy==1.14.1
ontobio==0.2.31
pandas==0.22.0
pathtools==0.1.2
portalocker==1.2.0
prefixcommons==0.1.4
pyparsing==2.2.0
pysolr==3.7.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
rdflib==4.2.2
requests==2.18.4
scipy==1.0.0
six==1.11.0
SPARQLWrapper==1.8.1
urllib3==1.22
watchdog==0.8.3
